@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin-left: 0;
  padding: 0%;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #fff;
}

::-webkit-scrollbar {
  display: none;
}

.gradient-1{
  background: linear-gradient(90deg, #FFAFBD 0%, #FFC3A0 50%, #FFD3B6 100%);
}